<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customize Map</title>
</head>
<body>
<p>Map {{.Seed}} ({{.Width}} x {{.Height}})</p>
<p>Percent Water: {{.PctWater}}% Sea Level: {{ .SeaLevel }}</p>
<p>Percent Ice: {{.PctIce}}% Ice Level: {{ .IceLevel }}</p>
<img src="/carto/{{.Seed}}?pctWater={{ .PctWater }}&pctIce={{ .PctIce }}&shiftX={{ .ShiftX }}&shiftY={{ .ShiftY }}">
</body>
</html>