<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customize Map</title>
</head>
<body>
<p>Map {{.Seed}} ({{.Width}} x {{.Height}})</p>
<img src="/greyscale/{{.Seed}}">
</body>
</html>